/* reset */
body {
  margin: 0;
  font-size: 1rem;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
  font-size: 1rem;
}
menu, form, p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
table {
  width: 100%;
  border-collapse: collapse;
}
button {
  border-radius: 0;
  outline: none;
  font-size: 1rem;
  -webkit-appearance: none;
}
input {
  border-radius: 0;
  outline: none;
  font-size: 1rem;
  -webkit-appearance: none;
}
select {
  border-radius: 0;
  -webkit-appearance: none;
}
textarea {
  border-radius: 0;
  font-size: 1rem;
  resize: none;
  -webkit-appearance: none;
}
a {
  color: inherit;
  text-decoration: none;
}
/* animate */
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}