<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="../dist/vue-buddy.css">
  <style>
    .page { line-height: 160px; text-align: center; background: #eee; }
    .page:nth-child(2n) { background: #ddd; }
    .layer-content { text-align: center; line-height: 4rem; }
    .dialog-content { margin: 0; padding: 1rem; }
  </style>
</head>
<body>
  <div id="app">
    <view-pager>
      <div class="page">page A</div>
      <div class="page">page B</div>
      <div class="page">page C</div>
      <div class="page">page D</div>
      <indicator slot="cover" slot-scope="scope" v-bind="scope"></indicator>
    </view-pager>

    <wheel :items="wheelItems" v-model="wheelValue" horizontal></wheel>

    <wheel :items="wheelItems" v-model="wheelValue">
      <span slot-scope="{item}">Item {{item}}</span>
    </wheel>

    <button @click="$notify('notify a message')">notify</button>
    <button @click="$notifySuccess('notify a success message')">notify success</button>
    <button @click="$notifyError('notify a error message')">notify error</button>
    <button @click="$toast('toast a message')">toast</button>
    <br><br>
    <button @click="showLayer = true">show layer</button>
    <button @click="showDialog = true">show dialog</button>

    <p>Loader: <loader></loader></p>

    <p>Date: {{now | date}}</p>
    <p>Time: {{now | date('time')}}</p>
    <p>Datetime: {{now | date('datetime')}}</p>
    <p>Week: {{now | date('EEE')}}</p>
    <p>Date: {{now | date('yyyy-MM-dd HH:mm:ss:S EE')}}</p>
    <p>UrlParams: {{urlParams}}</p>
    <p>UUID: {{uuid}}</p>

    <layer style="background: #eee" v-if="showLayer" @click="showLayer = false">
      <div class="layer-content">click blank area to close layer</div>
    </layer>

    <dialog-box v-if="showDialog" @close="showDialog = false">
      <p class="dialog-content">dialog content</p>
    </dialog-box>
  </div>

  <script src="https://cdn.staticfile.org/vue/2.5.17/vue.js"></script>
  <script src="../dist/vue-buddy.js"></script>
  <script>
    Vue.use(VueBuddy);
    new Vue({
      mixins: [VueBuddy.PageEndMixin],
      el: '#app',
      data: {
        wheelItems: ['A', 'B', 'C', 'D', 'E', 'F', 'G'],
        wheelValue: 'A',
        now: new Date(),
        urlParams: VueBuddy.Util.getUrlParams(),
        uuid: VueBuddy.Util.getUUID(),
        showLayer: false,
        showDialog: false
      },
      onPageEnd() {
        this.$toast('Page end')
      }
    })
  </script>
</body>
</html>