/* reset */
body {
  margin: 0;
  font-size: 1rem;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
  font-size: 1rem;
}
menu, form, p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
table {
  width: 100%;
  border-collapse: collapse;
}
button {
  border-radius: 0;
  outline: none;
  font-size: 1rem;
  -webkit-appearance: none;
}
input {
  border-radius: 0;
  outline: none;
  font-size: 1rem;
  -webkit-appearance: none;
}
select {
  border-radius: 0;
  outline: none;
  font-size: 1rem;
  -webkit-appearance: none;
}
textarea {
  border-radius: 0;
  outline: none;
  resize: none;
  font-size: 1rem;
  -webkit-appearance: none;
}
a {
  color: inherit;
  text-decoration: none;
}
/* components */
.layer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  background: #00000080;
  transition: .2s;
  -webkit-tap-highlight-color: transparent;
  &.center {
    justify-content: center;
    align-items: center;
  }
  &.top {
    justify-content: flex-start;
  }
  &.bottom {
    justify-content: flex-end;
  }
  &.left {
    align-items: flex-start;
  }
  &.right {
    align-items: flex-end;
  }
  &.v-enter, &.v-leave-to {
    &.fade-in {
      background: #00000000;
    }
    &.zoom-in {
      transform: scale(0);
    }
    &.slide-up {
      transform: translateY(100%);
    }
    &.slide-down {
      transform: translateY(-100%);
    }
    &.slide-left {
      transform: translateX(100%);
    }
    &.slide-right {
      transform: translateX(-100%);
    }
  }
  & > * {
    transition: inherit;
  }
  &.v-enter > .fade-in, &.v-leave-to > .fade-in {
    opacity: 0;
  }
  &.v-enter > .zoom-in, &.v-leave-to > .zoom-in {
    transform: scale(0);
  }
  &.v-enter > .slide-up, &.v-leave-to > .slide-up {
    transform: translateY(100%);
  }
  &.v-enter > .slide-down, &.v-leave-to > .slide-down {
    transform: translateY(-100%);
  }
  &.v-enter > .slide-left, &.v-leave-to > .slide-left {
    transform: translateX(100%);
  }
  &.v-enter > .slide-right, &.v-leave-to > .slide-right {
    transform: translateX(-100%);
  }
}
.lock-layer {
  z-index: 999;
  background: #00000010;
  transition: none;
  pointer-events: none;
  & > .loader {
    width: 2rem;
    height: 2rem;
    color: #00000090;
  }
}
.toast-layer {
  top: 50%;
  z-index: 9999;
  background: none;
  transition: .4s;
  pointer-events: none;
}
.toast {
  max-width: 80%;
  padding: .5rem .8rem;
  background: #000000bd;
  border-radius: .1rem;
  word-break: break-all;
  text-align: center;
  font-size: .9rem;
  color: #fff;
}
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}