/* reset */
:root {
  --animation-duration: .2s;
}
body {
  margin: 0;
  font-size: 1rem;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
  font-size: 1rem;
}
menu, form, p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
table {
  width: 100%;
  border-collapse: collapse;
}
button {
  border-radius: 0;
  outline: none;
  font-size: 1rem;
  -webkit-appearance: none;
}
input {
  border-radius: 0;
  outline: none;
  font-size: 1rem;
  -webkit-appearance: none;
}
select {
  border-radius: 0;
  outline: none;
  font-size: 1rem;
  -webkit-appearance: none;
}
textarea {
  border-radius: 0;
  outline: none;
  resize: none;
  font-size: 1rem;
  -webkit-appearance: none;
}
a {
  color: inherit;
  text-decoration: none;
}
/* components */
.layer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  background: #00000080;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  /* gravity */
  &.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &.top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  &.bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  &.left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  &.right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  &.top.left, &.top.right {
    align-items: flex-start;
  }
  &.bottom.left, &.bottom.right {
    align-items: flex-end;
  }
  &.golden {
    display: flex;
    flex-direction: column;
    align-items: center;
    &:before {
      flex: 0.618 0 0;
      content: '';
    }
    &:after {
      flex: 0.392 0 0;
      content: '';
    }
  }
  /* transition */
  &.transition {
    transition: var(--animation-duration);
    & > * {
      transition: inherit;
    }
  }
  /* default transition */
  &.v-enter, &.v-leave-to {
    background: #00000000;
    & > * {
      opacity: 0;
      transform: scale(0);
    }
  }
  /* fade transition */
  &.fade-enter, &.fade-leave-to {
    opacity: 0;
  }
  /* slide transition */
  &.slide-up-enter, &.slide-up-leave-to {
    transform: translateY(100%);
  }
  &.slide-down-enter, &.slide-down-leave-to {
    transform: translateY(-100%);
  }
  &.slide-left-enter, &.slide-left-leave-to {
    transform: translateX(100%);
  }
  &.slide-right-enter, &.slide-right-leave-to {
    transform: translateX(-100%);
  }
  /* slide inner transition */
  &.slide-up-inner-enter, &.slide-up-inner-leave-to {
    background: #00000000;
    & > * {
      transform: translateY(100%);
    }
  }
  &.slide-down-inner-enter, &.slide-down-inner-leave-to {
    background: #00000000;
    & > * {
      transform: translateY(-100%);
    }
  }
  &.slide-left-inner-enter, &.slide-left-inner-leave-to {
    background: #00000000;
    & > * {
      transform: translateX(100%);
    }
  }
  &.slide-right-inner-enter, &.slide-right-inner-leave-to {
    background: #00000000;
    & > * {
      transform: translateX(-100%);
    }
  }
}
.lock-layer {
  z-index: 999;
  background: #00000010;
  & > .loader {
    width: 2rem;
    height: 2rem;
  }
}
.popup-layer {
  z-index: 9999;
  background: none;
  pointer-events: none;
}
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}